<nav>
  
    <!-- Social Media Links -->
    <div style="text-align: center;">
        <a href="https://github.com/YanivGabay" target="_blank" title="GitHub">
            <img src="{{ site.baseurl }}/assets/icons/github.svg" width="32" height="32" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/YanivGabay/" target="_blank" title="LinkedIn">
            <img src="{{ site.baseurl }}/assets/icons/linkedin.svg" width="32" height="32" alt="LinkedIn">
        </a>
        <a href="https://chat.whatsapp.com/IQ3Mghl3NUz09vIdR0t4gd" target="_blank" title="WhatsApp Group">
            <img src="{{ site.baseurl }}/assets/icons/whatsapp.svg" width="32" height="32" alt="WhatsApp">
        </a>
    </div>
</nav>
