<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
</head>
<body>

    <!-- Left Section (Sidebar) -->
    <aside class="sidebar">
        <h1><a href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>

        <!-- Social Media Links -->
        <div class="social-icons">
            <a href="https://github.com/YanivGabay" target="_blank" title="GitHub">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/icons/github.svg" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/YanivGabay/" target="_blank" title="LinkedIn">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/icons/linkedin.svg" alt="LinkedIn">
            </a>
            <a href="https://chat.whatsapp.com/IQ3Mghl3NUz09vIdR0t4gd" target="_blank" title="WhatsApp">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/icons/whatsapp.svg" alt="WhatsApp">
            </a>
        </div>
    </aside>

    <!-- Main Content -->
    <main class="content">
        {{ content }}
    </main>

</body>
</html>
